:root {
  --primary-color: #1f6f78;
  --secondary-color: #93e4c1;
  --heading-font: "Domine", serif;
  --default-font: "Mukta", sans-serif;
}

body {
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h2 {
  font-size: 50px;
}

p {
  font-family: var(--default-font);
  font-size: 18px;
  line-height: 2;
}

.hero h1,
.hero h2,
.hero p {
  text-align: center;
}

.hero h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 25px;
}

.hero p {
  font-size: 30px;
  margin: 0;
}

.hero {
  padding: 70px 20px;
  background-color: rgba(147, 228, 193, 0.7);
}

.branding-link {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  color: white;
  background: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 8px;
}

.branding-link:hover {
  color: #004445;
  background-color: rgba(31, 111, 120, 0.3);
  transition: all 0.2s ease-in-out;
}

.navigation-link {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.branding-link-outline {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 8px;
}

.branding-link-outline:hover {
  color: white;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.project-description {
  padding: 10px 60px;
}
