:root {
  --primary-color: #1f6f78;
  --secondary-color: #93e4c1;
  --heading-font: "Domine", serif;
  --default-font: "Mukta", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h2 {
  font-size: 50px;
}

p {
  font-family: var(--default-font);
  font-size: 18px;
  line-height: 2;
}

.hero h1,
.hero h2,
.hero p {
  text-align: center;
}

.hero h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
}

.hero p {
  font-size: 30px;
  margin: 0;
  line-height: 1.5;
}

.hero {
  padding: 70px 20px;
  background-color: rgba(147, 228, 193, 0.7);
}

.branding-link {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  color: white;
  background: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 8px;
}

.branding-link:hover {
  color: #004445;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation-link {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.branding-link-outline {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 8px;
}

.branding-link-outline:hover {
  color: white;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.project-description {
  padding: 0 60px;
}

.about-section {
  padding: 80px 20px;
}

.about-section h1 {
  font-size: 50px;
}

.about-section h2 {
  font-size: 18px;
}

.about-section p {
  font-size: 16px;
}

.about-content {
  margin: 80px 0 0;
}

.picture-me {
  width: 400px;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero {
    padding: 50px 20px;
  }

  .project-description {
    padding: 30px;
    text-align: center;
  }

  .about-content {
    text-align: center;
    margin: 0;
  }

  .about-section h1 {
    font-size: 40px;
  }

  .picture-me {
    display: block;
    margin: 50px auto;
  }
}
